body {
    background-color: #222;
    color: white;
    font-family: Bahnschrift;
    margin: 10px;
}

h1, h2, h3 {
    margin: 15px;
}

.flex-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

table, td, tr {
    padding: 5px 10px;
    border: solid 1px #444;
}

table {
    border-collapse: collapse;
}

.tournament-col {
    width: 100px;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: lightblue;
}