body {
    background-color: #222;
    color: white;
    font-family: Bahnschrift;
    margin: 10px;
}

h1, h2, h3, h4 {
    margin: 15px;
}

.flex-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.nav-menu {
    color: #999;
    margin: auto 10px;
    cursor: pointer;
}

.disabled {
    display: none;
}

table, td, tr {
    padding: 5px 10px;
    border: solid 1px #444;
}

table {
    border-collapse: collapse;
}

.summary-table {
    width: 500px;
}

.tournament-col {
    width: 100px;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: lightblue;
}

.img-flag-small {
    height: 17px;
    margin-right: 2px;
}

.img-flag-big {
    height: 30px;
    margin-left: 15px;
    padding-bottom: 6px;
}

.table-stats td {
    width: 100px;
    text-align: center;
}

.tournament-classification {
    width: 180px;
    text-align: center;
}

.tournament-summary-small {
    width: 50px;
    text-align: center;
}

.tournament-summary-medium {
    width: 100px;
    text-align: center;
}